* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    font-family: 'Montserrat', sans-serif;
    background: #f5f7fa;
    padding: 20px;
}

.wrapper{
    background: #ffffff;
}

.menu{
    background: #f0d6d6;
    display: flex;
    box-sizing: border-box;
    align-content: center;
}

.menu_title{
    display: table-cell;
    text-align: center;
}

.home_menu{
    display: table-cell;
    width: 100%;
    margin: 5px;
    text-align: center;
}

.skills_menu{
    display: table-cell;
    width: 100%;
    margin: 5px;
    text-align: center;
}

.experience_menu{
    display: table-cell;
    width: 100%;
    margin: 5px;
    text-align: center;
}

.educations_menu{
    display: table-cell;
    width: 100%;
    margin: 5px;
    text-align: center;
}

.contacts_menu{
    display: table-cell;
    width: 100%;
    margin: 5px;
    text-align: center;
}

.about_me_container{
    background: #0c0522;
    display: flex;
    margin-top: 30px;
}

.about_me_container_title{
    display: table-cell;
    width: 25%;
    margin: auto;
}

.about_me_title{
    text-align: center;
    color: #ffffff;
}

.about_me_container_content{
    display: column;
    width: 100%;
}

.about_me_content{
    padding: 30px;
    color: #ffffff;
    text-align:justify;
}

.skills_container{
    background: #ffffff;
    display: flex;
}

.skills_container_title{
    display: table-cell;
    width: 25%;
    margin: auto;
}

.skills_title{
    text-align: center;
    color: #000000;
}

.skills_container_content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.skills_column{
    width: auto;
    margin: 10px;
}

.skills_column_title{
    text-align: center;
}
.skills_item{
    color: #221702;
    margin-left: 20%;
    line-height: 130%;
}

.skills_item_ul{
    margin-left: 30%;
}

.experience_container{
    background: #000000;
    display: flex;
}

.experience_container_title{
    display: table-cell;
    width: 25%;
    margin: auto;
}

.experience_title{
    text-align: center;
    color: #ffffff;
}


.experience_container_content{
    display: column;
    width: 100%;
}

.education_container{
    background: #1cb47a;
    display: flex;

}

.education_container_title{
    display: table-cell;
    width: 25%;
    margin: auto;
}

.education_title{
    text-align: center;
    color: #000000;
}

.education_container_content{
    background: #3ea5a0;
    display: column;
    width: 100%;
}

.contacts_container{
    background: #b43e3e;
    display: flex;

}

.contacts_container_title{
    display: table-cell;
    width: 25%;
    margin: auto;
}

.contacts_title{
    text-align: center;
    color: #ffffff;
}

.contacts_container_content{
    background: #8d91b4;
    display: column;
    width: 100%;
}