<!-- main container-->
<div class="wrapper">
    <aside class="sidebar">
        <img class="my_photo" src="./img/my_photo.jpg" alt="My photo">

        <!--contacts container-->
        <div class="contacts_container">
            <h3 class="contacts_title">Contacts</h3>
            <div><span class="contacts_link_type">C:</span>  <a class="contacts_link" href="tel:+380962586293">+38 096 258 62 93</a></div>
            <div><span class="contacts_link_type">E:</span> <a class="contacts_link" href="mailto:bohdanshlyah@gmail.com">bohdanshlyah@gmail.com</a></div> 
        </div>

        <!--Tech Skills-->
        <div class="tech_skills_container">
            <h3 class="tech_skills_title">Tech Skills</h3>

            <ul>
                <li class="tech_skills_item"><span class="tech_skills_text">MicroSCADA</span></li>
                <li class="tech_skills_item"><span class="tech_skills_text">RTUtill</span></li>
                <li class="tech_skills_item"><span class="tech_skills_text">PCM600</span></li>
                <li class="tech_skills_item"><span class="tech_skills_text">IET600</span></li>
                <li class="tech_skills_item"><span class="tech_skills_text">Multiprog</span></li>
                <li class="tech_skills_item"><span class="tech_skills_text">PLC</span></li>
                <li class="tech_skills_item"><span class="tech_skills_text">HMI</span></li>                
            </ul>
        </div>

        <!--Soft Skills-->
        <div class="soft_skills_container">
            <h3 class="soft_skills_title">Soft Skills</h3>
            <ul>
                <li class="soft_skills_item"><span class="tech_skills_text">Scrum</span></li>
                <li class="soft_skills_item"><span class="tech_skills_text">GTD</span></li>
                <li class="soft_skills_item"><span class="tech_skills_text">Teamwork</span></li>
            </ul>

        </div>

    </aside>

    <!-- about me container-->
    <div class="about_me_container">
        <!-- about me main info-->
        <div class="about_me_info">
            <h2 class="profession">SCADA Developer</h2>
            <h1 class="name">Bohdan Shliakhetkyi</h1>

            <p class="description">HELLO. I am a professional SCADA developer. I have experience working in many projects.<br />
                Therefore, I can configure the stage of any complexity, as well as automated control systems for substations.<br />
                I also have experience in developing operational interlocking. Participated in the development of emergency automation.
            </p>
            
        </div>

        <!-- project container-->
        <div class="project_container">
            <h3 class="project_title">Projects</h3>
            <ol class="projects_list">
                <li class="project_item">
                    <p class="project_name">Emergency automation of the southern region SS 750 kV, SSs 330 kV</p>
                    <span>[ <span class="tech_name">MicroSCADA, PCM600, IET600</span> ]</span>
                </li> 
                <li class="project_item">
                    <p class="project_name">Emergency automation of the south of Odessa region, SSs 110 kV</p>
                    <span>[ <span class="tech_name">MicroSCADA, RTUtill, PLC</span> ]</span>
                </li> 
                <li class="project_item">
                    <p class="project_name">SCADA for stadium "Olimpiiskyi"</p>
                    <span>[ <span class="tech_name">MicroSCADA, RTUtill, PCM600</span> ]</span>
                </li> 
                <li class="project_item">
                    <p class="project_name">Operation interlocking for SS 750 kV "Zakhidno-Ukrainska"</p>
                    <span>[ <span class="tech_name">RTUtill, PLC, Multiprog, HMI</span> ]</span>
                </li>
                <li class="project_item">
                    <p class="project_name">SCADA for SS 750 kV "Kakhovska"</p>
                    <span>[ <span class="tech_name">MicroSCADA, RTUtill, PLC, Multiprog, HMI</span> ]</span>
                </li> 
                <li class="project_item">
                    <p class="project_name">SCADA for SS 750 kV "Kyivska"</p>
                    <span>[ <span class="tech_name">MicroSCADA, RTUtill</span> ]</span>
                </li> 
                
                
            </ol>
        </div>

        <!-- work experience-->
        <div class="work_experience_container">
            <h3 class="work_experience_title">Work Experience</h3>

            <!-- company 1-->
            <div>
                <h4 class="profession_title">SCADA Developer <span class="company_name">ANIGER</span> </h4>
                <span class="time_interval">October 2014 - up to now <span class="divider">|</span> Ukrain</span>

                <ul class="duties_list">
                    <li class="duties_item">Development of the technical task</li>
                    <li class="duties_item">Project preparation</li>
                    <li class="duties_item">Development of a working project</li>
                    <li class="duties_item">Project implementation</li>
                    <li class="duties_item">Carrying out start-up and adjustment works</li>
                </ul>

            </div>


            <!--Education-->
            <div class="education_container">
                <h3 class="education_title">Education</h3>
                <ul class="education_list">
                    <li class="education_item">
                        <p class="institute_name">National Technical University of Ukraine 'Kyiv Polytechnic Institute'​</p>
                        <p class="specialty_name">Master's degree, Electrical Engineering and Electrotechnology</p>
                        <span class="time_interval">Septermber 2014 - June 2016 <span class="divider">|</span> Ukrain</span>
                    </li>
                    <li class="education_item">
                        <p class="institute_name">National Technical University of Ukraine 'Kyiv Polytechnic Institute'​</p>
                        <p class="specialty_name">Bachelor's degree, Electrical Engineering and Electrotechnology</p>
                        <span class="time_interval">Septermber 2010 - June 2014 <span class="divider">|</span> Ukrain</span>
                    </li>  
                </ul>
            </div>

        </div>

    </div>
    
</div>